* {
  padding: 0;
  margin: 0;
}

.nav {
  border: 0px solid red;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rightnav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: gray;
}

.btn {
  color: #67b0f8;
  border: 1px solid #67b0f8;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  margin-top: -5px;
  cursor: pointer;
}

.titlesection {
  border: 0px solid blue;
  margin-top: 20px;
  background: rgb(3, 241, 255);
  background: linear-gradient(
    90deg,
    rgba(3, 241, 255, 1) 0%,
    rgba(50, 75, 204, 1) 72%,
    rgba(160, 0, 255, 1) 95%
  );
  color: white;
  text-align: center;
  height: 300px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.readbtn {
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.classescard {
  text-align: center;
  margin-top: 50px;
}

.classescard > p {
  color: gray;
}
.viewbtn {
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #353535;
  margin-top: 10px;
}

.card1 {
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.allcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  gap: 20px;
  margin: 50px;
}

p {
  color: gray;
}

.footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer > h4 {
  color: #67b0f8;
}
